*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

header{
    /* display: flex; */
}


.nav-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(12, 12, 12);
    /* border: 2px solid red; */
}

.logo .image{  
    position: relative;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}

.logo .image:hover{
    border: white solid 1px;
}

.location{
    display: flex;
    padding: 10px;
    color: white;
    /* border: 2px solid green; */
}

.location:hover{
    border: white solid 1px;
}

.loc-symbol{
    display: flex;
    position: relative;
    top: 11px;
    padding-right: 5px;
    /* margin-top: 10px; */
}

.loc-data{
    display: flex;
    flex-direction: column;
    
}

.loc-data .dlv{
    font-size: x-small;
}

.loc-data .loc{
    font-weight: 500;
}

.search-bar{
    display: flex;
    padding: 10px;
    /* color: white; */
    /* border: 2px solid green; */
}

#List{
    height: 40px;
    width: 40px;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    /* border: 2px solid green; */
}

#search-box{
    border: 1px solid black;
    height: 40px;
    width: 550px;
}

.search-icon{
    display: flex;
    height: 40px;
    width: 40px;
    background-color: goldenrod;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
}
.lang{
    padding: 10px;
    display: flex;
    /* color: white; */
    /* border: 2px solid green; */
}

.lang:hover{
    border: white solid 1px;
}

.lang img{
    height: 25px;
    width: 20px;
    /* color: white; */
}

.lang span{
    display: flex;
    padding: 0px 2px;
    align-items: center;
    font-size: smaller;
    font-weight: bold;
    color: white;
}

.lang i{
    display: flex;
    align-items: center;
    color: gray;
}

.accounts{
    padding: 10px;
    color: white;
    /* border: 2px solid green; */
}

.accounts:hover{
    border: white solid 1px;
}

.accounts .name{
    font-size: small;
}

.accounts .acc-lis span{
    font-size: large;
    font-weight: bold;
}

.accounts .acc-lis .drop-arrow{
    padding-left: 2px;
    color: gray;
}

.orders{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    /* border: 2px solid green; */
}

.orders:hover{
    border: white solid 1px;
}

.orders .order-return{
    font-size: small;
}

.orders .order-list{
    font-size: large;
    font-weight: 600;
}

.cart{
    display: flex;
    padding: 10px;
    align-items: center;
    color: white;
    /* border: 2px solid green; */
}

.cart:hover{
    border: white solid 1px;
}

.cart .cart-items{
    padding-left: 2px;
    font-size: large;
    font-weight: bold;
}









.nav-bottom{
    padding: 2px;
    /* margin-top: 5px; */
    background-color: rgb(197, 197, 197);
    text-align: center;
}


@media screen and (max-width : 1275px){

    
}