*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}


.image{  
    height: 60px;
}
.nav-top{
    display: flex;
    align-items: center;
}

.location{
    display: flex;
    padding: 10px;
}

.loc-symbol{
    display: flex;
    position: relative;
    top: 10px;
    /* margin-top: 10px; */
}

.loc-data{
    display: flex;
    flex-direction: column;
    
}

.loc-data .dlv{
    font-size: x-small;
}

.loc-data .loc{
    font-weight: 500;
}

.search-bar{
    display: flex;
    padding: 10px;
}

#List{
    height: 30px;
    width: 40px;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
}

#search-box{
    border: 1px solid black;
    height: 30px;
    width: 220px;
}

.search-icon{
    display: flex;
    height: 30px;
    width: 30px;
    background-color: goldenrod;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
}
.lang{
    padding: 10px;
    display: flex;
}

.lang img{
    height: 25px;
    width: 20px;
}

.lang span{
    display: flex;
    padding: 0px 2px;
    align-items: center;
    font-size: smaller;
    font-weight: bold;
}

.lang i{
    display: flex;
    align-items: center;
}

.nav-bottom{
    padding: 2px;
    /* margin-top: 5px; */
    background-color: rgb(197, 197, 197);
    text-align: center;
}